<html>

<head>
	<title>Pixi Hotwire</title>

	<meta id="viewport" name="viewport"
		content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no, viewport-fit=cover" />
	<meta name="apple-mobile-web-app-capable" content="yes">

	<style>
		html,
		body {
			margin: 0;
			padding: 0;
			height: 100%;
			overflow: hidden;
		}

    .wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

		#pixi-content {
      width: max-content;
      height: max-content;
		}
	</style>

</head>

<body>
	<noscript>Please enable JavaScript in your web browser to view this page.</noscript>
  <div class="wrap">
    <div id="pixi-content"><canvas id="pixi-canvas" /></div>
  </div>
</body>

</html>